.congratContainer {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.congratContainer p {
  font-size: 5rem;
  transform: skew(-10deg, -10deg) scale(24);
  animation: popup 1.5s infinite;
  text-shadow: 1px 1px 3px var(--OFFblack), -1px -1px 3px var(--OFFblack);
}
@keyframes popup {
  0% {
    transform: skew(-10deg, -10deg) scale(24);
  }
  20% {
    transform: skew(-10deg, -10deg) scale(12);
  }
  100% {
    transform: skew(-10deg, -10deg) scale(0) rotate(60deg);
  }
}
.popYellow {
  color: var(--OFFyellow);
}
.popRed {
  color: var(--OFFred);
}
.popGreen {
  color: var(--OFFgreen);
}
.popLightBlue {
  color: var(--OFFlightBlue);
}
.popMidBlue {
  color: var(--OFFmidBlue);
}
