.shareContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shareContainer h1 {
  text-align: center;
  font-size: 30px;
}

.shareContainer p {
  text-align: center;
  font-size: 25px;
}

.share-network-list {
  width: 200px;
  margin: 20px auto;
}
a[class^="share-network-"] {
  flex: none;
  color: #ffffff;
  background-color: #333;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0 10px 0;
}
a[class^="share-network-"] .fah {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  flex: 0 1 auto;
}
a[class^="share-network-"] span {
  padding: 0 10px;
  flex: 1 1 0%;
  font-weight: 500;
}
